
.chart {
  position: relative;
  display: inline-block;
  width: 117px;
  height: 117px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0;
  text-align: center;
  cursor: pointer;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 117px;
    height: 117px;
  }
}
.percent {
  display: inline-block;
  font-size: 24px;
  line-height: 117px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: 24px;
}
